@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 2

   Author:Jason Luis
   Date:12/01/2024   
   
   Filename: code4-2_grad.css

*/
h1,h2{
   text-shadow: -2px -2px 3px white;
}

p{
   text-shadow: 2px 2px 3px red; 
}

article{
   box-shadow: inset 0px 0px 50px 20px black; 
   size:20px; 
   border-radius: 150px; 
   background-image: url(landscape.png);
   background-position: bottom right;
   background: linear-gradient(165deg, rgb(0,0,200), 65%),(0, rgb(211,0,55),75%);
}