@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 2

   Author:Jason Luis
   Date:12/01/2024   
   
   Filename: code4-2_grad.css

*/
h1,h2{
   text-shadow: -2px -2px 3px white;
}

p{
   text-shadow: 2px 2px 3px red; 
}

article{
   border-radius: 150px; 
   background-image: url(landscape.png);
   background-position: right bottom;
   background: linear-gradient(165, rgb(211,0,55), 75%, orange, 80%, yellow, 82% )
}