@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author:Jason Luis 
   Date:11/   
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body{
   width: 95%; 
   min-width: 640px;
   max-width:960px; 
   margin-left: auto;
   margin-right: auto;
}


/* Image Styles */
img{
   display: block;
   width: 100%;
}


/* Horizontal Navigation Styles */
nav.horizontal li{
   display: block;
   float: left; 
   width: 16.66%;
}

nav.horizontal a{
   display: block;
   text-align: center;
}

nav > a{
   display: block;
}




/* Grid Styles */
body{
   display: grid;
   grid-column: 2fr,1fr;
   grid-column-gap: 20px;
}

header{
   column-span:1/-1; 
}

footer{
   column-span: 1/-1;
}

section#sub{
   display:grid; 
   grid-template-columns: repeat(3,1fr);
}


/* Specials Styles */
div.specials{
   min-height: 400px;
   outline: 1px dashed rgb(71,52,29);
}

/* Award Styles */
aside{
   position: relative;
   height:650px; 
   overflow: scroll;
   position: absolute;
   width:30%; 
}

aside.div{
   position: absolute;
   width:30%; 
}

.award1{
   position: absolute; 
   top:80px; 
   left:5%; 
}

.award2{
   position: absolute; 
   top:280px; 
   left:60%; 
}

.award3{
   position: absolute;
   top:400px; 
   left:20%;
}

.award4{
   position: absolute; 
   top:360px; 
   left:45%; 
} 

.award5{
   position: absolute;
   top:750px; 
   left:5%; 
}